#remove session files
**session**

#remove pycache files
**pycache**

#remove config.py
aries/config.py


#remove log files
*log.txt

#remove env files

**env

#remove vscode files if it exists
**vscode

testing.py

**pyc

# Python cache
__pycache__/
*.py[cod]
*.pyc

# Telethon session cache
*.session
*.session-journal

# Config
data/bot_conf.yaml

# Logs
logs/

# Virtual envirment
venv/

.vscode/
.idea/
