#remove session files
**session**

#remove pycache files
**pycache**

#remove config.py
aries/config.py


#remove log files
*log.txt

#remove env files

**env

#remove vscode files if it exists
**vscode

testing.py

**pyc
