aries/config.py
aries/*.session
aries/*.session-journal
aries/config.ini
log.txt
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
aries/modules/helper_funcs/temp.txt
aries/elevated_users.json
start-3.9.bat
*.session
kangsticker.png
venv
env
aries.session-journal
updates.txt
*.exe
