future
fuzzysearch
emoji
lxml
wget
pythonping
multicolorcaptcha
gtts
pyYAML>=5.1.2
beautifulsoup4
gitpython
requests
httpx
python-telegram-bot==13.10
SQLAlchemy==1.4.30
youtube_dl
python-dotenv==0.19.2
psycopg2-binary
feedparser==6.0.8
faker
carbonnow
validators
hachoir==3.1.2
pykeyboard==0.1.4
pynewtonmath==1.0.1
aiofiles==0.8.0
ffmpeg
pyjokes
spongemock==0.3.4
zalgo-text==0.6
geopy
nltk==3.6.6
psutil==5.9.0
aiohttp>=2.2.5
pillow
CurrencyConverter
googletrans==4.0.0-rc1
google_trans_new
jikanpy
speedtest-cli
coffeehouse==2.2.6
regex==2022.1.18
bleach
wikipedia
markdown2
pybase64
telethon==1.24.0
telegraph==2.1.0
heroku3
spamwatch
alphabet-detector==0.0.7
pyrate-limiter==2.6.0
cachetools
python-rapidjson==1.5
ujson
pretty-errors
pygithub
tgcrypto
pyrogram==1.3.6
humanize
#PyDictionary==2.0.1
youtube_search_python
lyrics_extractor
asyncio
cloudscraper==1.2.58
dateparser==1.1.0
pymongo
dnspython
secureme
apscheduler
emoji-country-flag
countryinfo
html2text
bs4
redis
pySmartDL
bing_image_downloader
search_engine_parser
pytz==2021.3
jikanpy
lyricsgenius
tswift==0.7.0
python-arq
envparse==0.2.0
better_profanity==0.7.0
textblob==0.17.1 
nudepy==0.5.1
motor>=2.1.0,<2.6.0
gpytranslate==1.4.0
fontTools==4.29.0
opencv-python-headless
odmantic==0.3.5
nekos.py
pendulum==2.1.2
launchpadlib==1.10.16
requests_html==0.10.0
pydub==0.25.1
google-api-python-client
img2pdf==0.4.3
hiredis==2.0.0
selenium==4.1.0
cowpy
glitch_this==1.0.2
uvloop==0.16.0
youtube_search
pytube==11.0.2
cryptg==0.2.post4
aioredis==2.0.1
NumPy==1.22.1
yt-dlp
