future
emoji
lxml
wget
gtts
beautifulsoup4
requests
pycurl
httpx[http2]>=0.18.1,<1.0.0
python-telegram-bot==13.6
SQLAlchemy==1.3.20
youtube_dl
python-dotenv
pytgcalls
psycopg2-binary
feedparser
faker
validators
hachoir
pykeyboard
pynewtonmath
aiofiles
ffmpeg-python
spongemock
zalgo-text
geopy
nltk
psutil
aiohttp>=2.2.5
Pillow>=4.2.0
CurrencyConverter
googletrans==4.0.0-rc1
google-trans-new==1.1.9
jikanpy
speedtest-cli
coffeehouse==2.2.4
regex
bleach
wikipedia
markdown2>=2.4.0
pybase64
telethon==1.16.4
telegraph
heroku3
spamwatch
alphabet_detector
pyrate-limiter
cachetools
python-rapidjson==1.4
ujson==3.0.0
pretty_errors
pygithub
TgCrypto
Pyrogram
humanize
PyDictionary
youtube_search_python
lyrics_extractor
asyncio
cloudscraper
git+https://github.com/starry69/python-markdown2.git
dateparser==1.0.0
pymongo
dnspython
secureme
apscheduler
emoji-country-flag
countryinfo
html2text
bs4
redis
pySmartDL
bing_image_downloader
search_engine_parser
pytz
jikanpy
lyricsgenius
tswift
python-arq
envparse
better_profanity
textblob 
nudepy
motor
gpytranslate
fontTools
opencv-python-headless
odmantic
nekos.py
pendulum
