future
fuzzysearch
emoji
lxml
wget
pythonping
multicolorcaptcha
gtts
beautifulsoup4
gitpython
requests
httpx
python-telegram-bot==13.8.1
SQLAlchemy==1.4.27
youtube_dl
python-dotenv
psycopg2-binary
feedparser
faker
validators
hachoir
pykeyboard
pynewtonmath
aiofiles
ffmpeg
spongemock
zalgo-text
geopy
nltk
psutil
aiohttp
pillow
CurrencyConverter
googletrans
google-trans-new==
jikanpy
speedtest-cli
coffeehouse
regex
bleach
wikipedia
markdown2
pybase64
telethon==1.23.0
telegraph
heroku3
spamwatch
alphabet-detector
pyrate-limiter
cachetools
python-rapidjson
ujson
pretty-errors
pygithub
tgcrypto
Pyrogram
humanize
#PyDictionary
youtube_search_python
lyrics_extractor
asyncio
cloudscraper
dateparser
pymongo
dnspython
secureme
apscheduler
emoji-country-flag
countryinfo
html2text
bs4
redis
pySmartDL
bing_image_downloader
search_engine_parser
pytz
jikanpy
lyricsgenius
tswift
python-arq
envparse
better_profanity
textblob
nudepy
motor
gpytranslate
fontTools
opencv-python-headless
odmantic
nekos.py
pendulum
launchpadlib
requests_html
pydub
google-api-python-client
img2pdf
hiredis
selenium
cowpy
glitch_this
uvloop
youtube_search
pytube
cryptg
aioredis
NumPy
yt-dlp
